language: node_js
node_js:
- '8'
before_install: 
- npm install mocha istanbul -g
install:
- npm install
before_script:
- npm link .
script:
- ./ci/build.js
- ./ci/test.js
- ./ci/cover.js
- ./ci/report.js
env:
  global:
    secure: VIZtV2rF2wxjTG1jxXF0GkIT7ddQD3EHEuzEOzq8l4jI8MSoYLb+31x1XMGpu9wNW+eUKql/Wdh6C6MrUC26aLtm2u2AlLLLCmvUdkXht7f0zzr30p5D1jaxVB/d0LbBLXDiC4YOgppwWrOByKbFfCqhOhYspFj5WJOHAz8A8ibncy5VtntcdV1szn4kHP1ydQFWpv4BTr1t6ZCcxz/dxdjE9q/GIi8uwR5nkblzdZRQVpS77EXxV3/wGY7wwdDhxP7Sx3judD3qN3Q9fp+1DuGggQieCfrXA8jBUXOdUwWWi1eJcmlpRzS2abIxVFQqcc/Xke/HpXWGEgGAeChzfjH4aCWkCMPiUku4xHWZPJKu1LS9kkVTzZjnDM+m7hPmUDZdmhzQJekIpOaTf9VRJJBwMNWyVN4impOKVGKiLOFASfABb4hENe4LLdDP85KM6UQ4sImnyu4JtQ1z9YXXml2VA3mSu0yQDJ21zpP9C286mTGU5jQktFDbobLXy+lvJFo4/AYh2t43BvhdDljmEI6d9ghVxs28I4SZ1u2TC2hk/9VzO8VM6EETXRvLzSAhVRUG1fzX17yPaVWxj8X2TsRo3lE5aR3Sslaw0FQ0NNeuPg8wHrvLs3QcULKGgafrwvKC0tzrPnWAi01nbqRX2KY/sJMx7y2n201YqU4JBPI=
